<div class="row">
  <div class="col-6 offset-3">
    <div class="row mb-4" id="chat-room">
      <div class="col-12 char-room-wrapper">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="你的問題？" id="question">
          <button class="btn btn-outline-secondary" type="button" id="submitBtn">送出</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/javascript/chat.js"></script>