<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4 border border-5 pt-5">
    <div class="mb-4 text-center">
      <h1 class="h3 font-weight-normal mb-3">Sign Up</h1>
    </div>
    <form id="form-signup" action="/signup" method="POST" style="width: 100%;">
      <div class="form-row form-floating mb-3">
        <input type="email" id="email" name="email" class="form-control" value="{{email}}" required>
        <label for="email">Email address</label>
      </div>
      <div class="form-row form-floating mb-3">
        <input type="password" id="password" name="password" class="form-control" required>
        <label for="password">Password</label>
      </div>
      <div class="form-row form-floating mb-3">
        <input type="password" id="passwordCheck" name="passwordCheck" class="form-control" required>
        <label for="passwordCheck">Confirm Password</label>
      </div>
      <div class="form-row mb-3">
        <select class="form-select" id="country-select" aria-label="請選擇國家" name="country">
          <option value="" selected>請選擇國家</option>
          {{#each countryOptions}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
      <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
    </form>
    <div class="my-4 text-center">
      <p>Or</p>
      <p><a href="{{googleAuthUrl}}" id="sign-up-google">Sign Up with Google</a></p>
    </div>
  </div>
</div>
<script>
  const form = document.querySelector('#form-signup')
  const selectItem = document.querySelector('#country-select')
  const link = document.querySelector('#sign-up-google')
  selectItem.addEventListener('change', (e) => {
    const country = e.target.value
    if (country) {
      const [url, qs] = link.href.split('?')
      const urlParams = new URLSearchParams(qs)
      const params = { country }
      if (urlParams.get('redirectUrl')) {
        params['redirectUrl'] = urlParams.get('redirectUrl')
      }
      const encodeParams = Object.keys(params).map(key => {
        return `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`
      }).join('&')
      link.href = `${url}?${encodeParams}`
    }
  })
</script>