.circle-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.circle-img-100 {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.circle-img-2 {
  border-radius: 50%;
  object-fit: cover;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
}

.text-truncate-4 {
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.toTop-arrow {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.7;
  background: black;
  cursor: pointer;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  display: none;
}

.toTop-arrow::before,
.toTop-arrow::after {
  width: 31px;
  height: 7px;
  border-radius: 3px;
  background: orange;
  position: absolute;
  content: "";
}

.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.4rem;
}

.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.4rem;
}

.toTop-arrow:focus {
  outline: none;
}

#chat-room {
  background-color: cornflowerblue;
  border: 1px solid gray;
  border-radius: 10px;
  height: 60vh;
  overflow-y: auto;
}

.message {
  border: 1px solid gray;
  border-radius: 10px;
  max-width: 80%;
  height: auto;
}

.message-q {
  background-color: lightblue;
  text-align: end;
}

.message-a {
  background-color: lightgreen;
}

.fileInput {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: block;
  width: 3.5rem;
  clear: both;
  display: block;
  margin: auto;
  background-color: red;
}